* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --netflix-red: #e50914;
  --netflix-black: #141414;
  --netflix-dark: #000000;
  --netflix-gray: #808080;
  --netflix-light-gray: #e5e5e5;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--netflix-black);
  color: #fff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--netflix-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--netflix-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--netflix-light-gray);
}
